<!DOCTYPE html>
<html>
<head>
  <title>Secret</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <nav class="navbar navbar-inverse">
    <% if user_signed_in? %>
      <p> Welcome <%= current_user.email %><%= link_to "Sign Out", destroy_user_session_path,  method: :get %> </p>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path ,class: 'glyphicon glyphicon-search'%>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </nav>
   
 

  <%= yield %>

</body>
</html>
